@media only screen and (max-width: 1024px) {
  html {
    max-width: 100%;
    overflow-x: hidden;
  }
  .navbar {
    width: 100vw;
  }
  .nav-list {
    width: 100%;
  }
  .nav-list li {
    display: none;
  }
  .logo {
    width: auto;
    margin: auto;
  }
  .hero {
    height: 72vh;
  }
  .links {
    display: none;
  }
  .policies {
    display: none;
  }
  .footercontainer {
    width: 100vw;
    justify-content: space-evenly;
  }

  body {
    width: 100%;
    overflow-x: hidden;
  }
  /* hero styling */
  .home {
    height: 72;
    width: calc(100vw - 32px);
    padding: 0px 32px;
  }
  .home h1 {
    font-size: min(60px, 12vw);
    letter-spacing: -1.65px;
    line-height: 55px;
    text-align: left;
    width: 360px;
  }
  .hero p {
    font-size: 16px;
    line-height: 22px;
  }
  .homeimage {
    display: none;
  }
  .homeimagephone {
    position: absolute;
    top: 2vh
    display: block;
    z-index: -5;
    opacity: 0.8;
  }

  /* features STYLING */
  .subhero {
    height: min(52vh, 720px);
    letter-spacing: 1px;
    padding: 60px 90px;
  }
  .subhero h1 {
    font-size: min(42px, 8vw);
    width: 42vw;
  }
  .subhero p {
    font-size: min(14px, 2vw);
    width: 100%;
    line-height: normal;
  }
  .subhero img {
    height: auto;
    width: 50vw;
  }
  /* register styling */
  .register {
    height: 100vh;
  }
  .registertext {
    font-size: min(6vw, 52px);
  }
  .registersubtext {
    font-size: min(3vw, 24px);
    width: 72vw;
  }
  .form {
    height: 72vh;
    width: 92vw;
  }

  /* button  */
  .btn h3,
  .learnmorebtn {
    font-weight: 600;
    font-size: min(4vw, 10px);
    text-decoration: none;
  }
  .btn {
    width: 24vw;
  }

  /* footer  */
  .comp h1 {
    font-size: min(4vw, 14px);
  }

  .faq {
    min-height: 92vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container {
    padding: 0%;
    width: 90vw;
  }
  .accordion a {
    width: auto;
  }
}
