@font-face {
  font-family: Akira;
  src: url("../Akira.otf");
}
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Poppins;
  background-color: #ffffff;
}
